.main{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right,#9c27b0,#8ecdff);
  margin: 10px;
}
.nav{
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items:center;
}
.logo{
  flex-basis:20%;
}
.logo img{
  width:150px;
}
.nav-links{
  flex:1;
  text-align:right;
}
.nav-links ul li{
  list-style:none;
  display: inline-block;
  margin: 0 20px;
}
.nav-links ul li a{
  color:#fff;
  text-decoration:none;
}
.information{
  width:1000px;
  height: 1000px;
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
}
#circle{
  width:1000px;
  height: 1000px;
  position: absolute;
  top:0;
  left: 0;
  border-radius: 50%;
  background: #ccc;
}
.feature img{
  width: 100px;
}
.feature{
  position: absolute;
}
.one{
  top: 420px;
  right: 50px;
}
.two{
  top:180px;
  left: 400px;
  margin-top: 50px;
}
.three{bottom: 340px;
       left: 50px;
     }
.four{
  bottom: 150px;
  right: 440px;
}
.mobile{
  width: 350px;
  position: absolute;
  top:55%;
  left:28%;
  transform: translateY(-50%);
  z-index: 1;
  color: rgb(255, 255, 255);padding: 20px; border-radius: 50px;
}
#contact{
  width:80px;
  transform: translateY(-50%);
}
.box{
  position: relative;
  top:relative;
  left: auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display: flex;
  margin-left: 10px;
}
.content{
padding-left: 20px;
}
